{% extends 'products/base.html' %}
{% load i18n %}  <!-- Carga la biblioteca de internacionalización -->

{% block content %}
<div class="login-form-container">
    <form class="login-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{% trans "Add New Product" %}</h2>  <!-- Marca el texto para traducción -->
        {{form.as_div | safe}}
        <button type="submit">{% trans "Save" %}</button>  <!-- Marca el texto del botón para traducción -->
    </form>
</div>
{% endblock %}