{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static '/styles/products.css' %}">
    <title>{% block title %}'Shipping Orders'{% endblock %}</title>
  </head>

  <body class="body">
    <header>
      <a href="{% url 'home' %}" class="logo"><img src="/sbgameshop/media/product_images/logo_con_fondo.png" alt="logo sbgameshop"></a>
      {% include 'products/filter_bar.html' %}
      <nav>
        <ul class="nav__links">
          <li>{% if user.is_editor %}<a href="{% url 'editor_add_product' %}" class="auth-link">Add Product</a>{% endif %}</li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'view_cart' %}" class="auth-link">Shipping Cart</a></li>
            <li><a href="{% url 'singout' %}" class="auth-link">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'singin' %}" class="auth-link">Sing In</a></li>
            <li><a href="{% url 'singupform' %}" class="auth-link">Sing Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="page-container">
      {% block content %} 

      {% endblock %}
    </div>
  </body>
</html>
