{% extends 'products/base.html' %}
{% load i18n %}  <!-- Carga la biblioteca de internacionalización -->


{% block content %}
<div class="cart-container">
    <h1>{% trans "Shipping Cart" %}</h1>
    {% if cart_items %}
        {% for cart_item in cart_items %}
        <div class="cart-item">
            <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}">
            <div class="cart-item-details">
                <p class="cart-item-name">{{ cart_item.product.name }}</p>
                <p class="cart-item-quantity">{% trans "Quantity" %}: {{ cart_item.quantity }}</p>
                <p class="cart-item-price">{% trans "Price" %}: ${{ cart_item.subtotal|floatformat:"3" }}</p>
            </div>
            <form action="{% url 'delete_cart_item' cart_item_id=cart_item.id %}" method="POST">
                {% csrf_token %}
                <button class="cart-button">{% trans "Remove From Shipping Cart" %}</button>
            </form>
        </div>
        {% endfor %}
        <div class="cart-total">
            <p>{% trans "Total Cost" %}: ${{ cart.total_cost|floatformat:"3" }}</p> 
        </div>
        <button class="cart-button">{% trans "Go to Checkout" %}</button>
    {% else %}
        <h1 class="no-products">{% trans "Any Products in Shipping Cart yet" %}</h1>
        <form action="{% url 'home' %}">
            {% csrf_token %}
            <button class="cart-button">{% trans "Go to Buy" %}</button>
        </form>
    {% endif %}
</div>
{% endblock %}