{% extends 'products/base.html' %}
{% load i18n %}  <!-- Carga la biblioteca de internacionalización -->

{% block content %}


    <div class="product-detail-container">
        <div class="product-detail-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <code>Products</code>
        <div class="product-detail-details">
            <h2 class="product-detail-name">{{ product.name }}</h2>
            <h3 class="product-detail-name">{% trans "Description" %}</h3>
            <p class="product-detail-description">{{ product.description }}</p>
            <p class="product-detail-description"><strong>{% trans "Category" %}:</strong> {{ product.category }}</p>
            <p class="product-detail-description"> <strong>{% trans "Platform" %}:</strong> {{ product.platform }}</p>
            {% if product.genres.all %}
                <p class="product-detail-description"> <strong>{% trans "Gender" %}:</strong>
                    {% for genre in product.genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <p class="product-detail-price">{% trans "Price" %}: {{ product.price|floatformat:"3" }}</p>
            {% if user.is_authenticated %}
                <form action="{% url 'add_to_cart' product_id=product.id %}" method="POST">
                    {% csrf_token %}
                    <button class="add-to-cart-button" type="submit">{% trans "Add to Cart" %}</button>
                </form>
            {% else %}
            <a class="add-to-cart-button" href="{% url 'singin' %}" class="auth-link">{% trans "Add to Cart" %}</a>
            {% endif %}
        </div>
    </div>


{% endblock %}