{% extends 'products/base.html' %} 
{% block content %}
{% if products %}
    <div class="products-container">
        {% for product in products %}   
            <div class="product-container">
                {% if product.image %}
                    <a href="{% url 'product_detail' product_id=product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                        <img src="/sbgameshop/product_images/logo_con_fondo.png" alt="{{ product.name }}">
                {% endif %}
                <a class="product-name" href="{% url 'product_detail' product_id=product.id %}">
                    {{product.name}}
                </a>
                <p>precio: ${{product.price|floatformat:"3"}}</p>
                {% if user.is_editor %}
                    <form method="post" action="{% url 'delete_product' product_id=product.id %}">
                        {% csrf_token %}
                        <button class="delete-button" type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}  
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1 class="no-products">No hay productos disponibles</h1>
{% endif %}
{% endblock %}
