{% extends 'products/base.html' %}
{% load i18n %}  <!-- Carga la biblioteca de internacionalización -->
{% block content %} 
    <div class="login-form-container">
        {{message}}
        <form class="login-form" action="/singin/" method="post">
            {% csrf_token %}
            <h2>{% trans "SignIn SBGameShop" %}</h2>
            {{form.as_div}}
            <button>
                SingIn
            </button>
        </form>
    </div>

    <div class="login-help-container">
        <div>
            <p>{% trans "Need Help?" %}</p>
            <a href="./">{% trans "Forgot Password?" %}</a>
        </div>

        <div>
            <p>{% trans "New in SBGameShop?" %}</p>
            <a class="create-account-link" href="/singupform/">{% trans "Create an Account" %}</a>
        </div>
    </div>

{% endblock %}
